.feed
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%)
  background-size: cover
  padding: $padding
  min-height: 100vh

  &__cafe-list
    &__cafe
      background-size: cover
      display: flex
      padding: $padding
      background-color: white
      border-radius: 10px
      margin: 0 $padding $padding $padding
      img
        width: 64px
        height: 64px
        border-radius: 32px
        padding: 4px
        background-color: $lightGrey
      .cafe-content
        p
          padding-right: $padding
        &__name 
          font-size: 18px!important
          font-weight: 500!important
        &__short-desc
          font-size: 14!important
          letter-spacing: -0.02rem!important
          

  
    #cafe-1
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.99)),url('~assets/img/1.jpg')

    #cafe-2
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.99)),url('~assets/img/2.jpg')

    #cafe-3
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.99)),url('~assets/img/3.jpg')

    #cafe-4
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.99)),url('~assets/img/4.jpg')
      